# Ignore Unwanted Folders on Personal MBP
op/
linearmouse/
iterm2/
flipper/
configstore/
doom/
emacs/
# Ignore .bak files (backups)
*.bak

# Ignore Copilot Conifg
github-copilot/

# Ignore AWS Config
AWS* 

# codewhisper config
cw/

#fish shell
fish/

# fonts
fonts/

# jgit
jgit/

# yarn
yarn/

# raycast
raycast/

# cheat
cheat/ 

# go
go/

# helix
helix/

# racket
racket/

# go
go/

# helix
helix/

# racket
racket/

#exercism
exercism/

# github cli
gh/

